@import './../../assets/scss/abstracts/mixins';
@import './../../assets/scss/abstracts/variables';


.container {
  
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: [start-content]3fr[end-content start-layout]1fr[end-layout];
  background-image: linear-gradient(
    to right bottom,
    rgba(119, 176, 245, 0.8),
    rgba(50, 136, 240, 0.8)
  ),
    url("./../../assets/images/background.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
  overflow: hidden;


  &__content {
    @include absCenter;
    grid-column: start-content / end-content;
    text-align: center;

    &__title {
      color: white;
      text-transform: uppercase;
      margin-bottom: 2rem;
      line-height: 1.7;
      padding: 3rem;

      @media screen and (max-width: $bp-small) {
        padding: 0;
      }

      &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1.75rem;
        animation: moveInLeft 2s ease-out;

        @media screen and (max-width: $bp-small) {
          font-size: 3rem;
          font-weight: 400;
        }
  
      }

      &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;
        animation: moveInRight 2s ease-out;


        @media screen and (max-width: $bp-small) {
          font-size: 1.5rem;
          letter-spacing: 1.15rem;
          font-weight: 400;
        }
      }
    }
  }

  &__layout {

    grid-column: start-layout / end-layout;

    @media screen and (max-width: $bp-medium) {
      grid-column: start-content / end-layout;
    }

    grid-row: 1 / span 2;

     &__content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 4rem;
        padding-top: 8rem;
  
        &__title {
          font-size: 4.2rem;
          font-weight: bold;
          padding-left: 4rem;
          font-family: Poppins-Bold, sans-serif;
        }
  
        &__link {
          display: flex;
          justify-content: space-between;

          @media screen  and (max-width: $bp-small) {
            flex-direction: column;
          }
          
          padding-right: 3rem;
  
          & > span {
            font-size: 1.5rem;
            font-family: Poppins-Regular, sans-serif;
            cursor: pointer;
            color: rgba($color: $color-primary, $alpha: 1.0);

            &:hover {
              transform: translateY(-3px);
            }
          }
        }
  
        &__submit {
          display: flex;
          justify-content: center;
        }
      }
    
  }

}