@import './utils/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @media screen and (max-width: $bp-small) {
    font-size: 50%; // 1rem = 8px
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 56.25%; // 1rem = 9px
  }

  @media screen and (max-width: $bp-largest) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

