.card {
  &__content {
    &__row1 {
      display: flex;
      justify-content: space-around;
    }

    &__row2 {
      // display: flex;
      // justify-content: center;
      padding: 1.4rem 9.4rem;
    }

    &__avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      float: left;
    }

    &__pseudo {
    }

    &__date {
    }

    &__last-message {
      white-space: nowrap;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
