.message {
  border-radius: 30px;
  border: 1px solid black;
  text-align: center;
}

.message-send {
  color: white;
  background-color: #1877f2;
}

.message-receive {
  color: black;
  background-color: #eae8e5;
}
