.message {
  width: 20%;
  height: 10vh;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  background-color: red;

  &__text {
  }

  &--primary {
    // background-color: $color-primary;
  }

  &--light {
    // background-color: $color-secondary;
  }
}
