.user-card {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 20px 16px 1%;
}

.avatar {
  width: 80px;
  float: left;
}

.resume-conversation {
  color: gray;
  font-size: 15px;
}
.user-name {
  padding: 40px;
}
.hour-message {
  float: right;
}
.last-sentence {
  padding-top: 20px;
  padding-left: 40px;
}
