@import './../../../assets/scss/abstracts/variables';

.alert-message {
    padding: 1.3rem 2rem 1.3rem 2rem;
    word-break: break-word;
    width: 95%;
    margin-left: 1rem;
    font-size: 1.4rem;
    line-height: 1.2;

    &--primary {
        background-color: rgba($color:  $color-primary-light, $alpha: .7);
        // color: rgba($color: white, $alpha: 1.0)
    }
}