@import "./../../../assets/scss/variables";

.input {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
  }

  &__text {
    display: block;
    border: none;
    padding: 1.2rem;
    font-size: 1.5rem;
    box-shadow: none;
    color: black !important;

    &:focus {
      outline: 0;
    }

    &:valid {
      border-bottom: 3px solid $color-primary;
    }

    &:invalid, &[aria-invalid='true']  {
      border-bottom: 3px solid $color-danger;
    }
  }


  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 0.5rem;
    margin-top: -5.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__text:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__text:valid, &__text[aria-invalid='false']  + &__label{
    color: $color-primary;
  }

  &__text:invalid, &__text[aria-invalid='true']  + &__label {
    color: $color-danger;
  }

}
