.view-index {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(119, 176, 245, 0.8),
      rgba(50, 136, 240, 0.8)
    ),
    url("./../assets/images/background.jpg");
  background-size: cover;
  background-position: top;
  // clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.view-index__body {
  position: absolute;
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 50%);
}

.view-index__title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 1.7;
  padding: 3rem;
}

.view-index__title--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation: moveInLeft 2s ease-out;
}

.view-index__title--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation: moveInRight 2s ease-out;
}
