.footer {
    position: absolute;
    width: 70%;
    right: 2px;
    bottom: 2px;
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.type_msg{
    background-color: rgba(173, 173, 172, 0.548) !important;
    border:0 !important;
    height: 60px !important;
    overflow-y: auto;
}
.type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}