.message {
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;
    min-width: 100%;
    max-width: 50%;
    white-space:wrap;
    overflow-wrap: break-word;
    background-color: #1877F2;
    text-align: center;

}

.message-send {
    color: white;
}

.message-receive {
    color: black;
}