.message {
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;
    max-width: 50%;
    overflow-wrap: break-word;
    background-color: #1877F2;

}

.message-send {
    color: white;
}

.message-receive {
    color: black;
}