.user-card { 
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
 }
.avatar {width: 80px; }

.last-conversation-date {
    color: gray;
    font-size: 15px;
}

.last-conversation {
    color: gray;
    font-size: 15px;
    padding-top: 10px
}